@charset "utf-8";
/* CSS Document */
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	height:35px !important;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	width:276px !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.btn{
	padding-top:8px;
	padding-bottom:8px;
	border-radius:3px;
	font-size:16px;
	text-decoration:none;
	color:#fff;
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	font-weight:bold;cursor:pointer;
	}
.btn1{
	padding-top:8px;
	padding-bottom:8px;
	border-radius:3px;
	font-size:16px;
	text-decoration:none;
	color:#fff;
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	font-weight:bold;cursor:pointer;
	}
	
.btn2{
	padding:4px 6px;
	font-size:12px;
	border-radius:3px;
	text-decoration:none;
	color:#fff;
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
	font-weight:bold;
	cursor:pointer;
	}
.p30{padding-left:30px;padding-right:30px;}
.p12{padding-left:12px;padding-right:12px;}
.p12minwidth{padding-left:12px;padding-right:12px;min-width: 150px} 
a.btn:hover{ text-decoration:none;}
.btn-blue{
	border:1px solid #00236f;
	background:-moz-linear-gradient(#2c539e, #244386);
	background:-webkit-gradient(linear, left top, left bottom,from(#2c539e), to(#244386));
	+background:#244386;background:#244386\0;}
.btn-blue:hover{
	background:-moz-linear-gradient(#769ce6, #244386);
	background:-webkit-gradient(linear, left top, left bottom,from(#769ce6), to(#244386));
	text-shadow:none;
	}
.btn-orange{
	border:1px solid #d07300;
	background:-moz-linear-gradient(#ffaf4b, #ff920a);
	background:-webkit-gradient(linear, left top, left bottom,from(#ffaf4b), to(#ff920a));
	+background:#ff920a;background:#ff920a\0;
	}
.btn-orange:hover{
	background:-moz-linear-gradient(#ffc884, #f38e10);
	background:-webkit-gradient(linear, left top, left bottom,from(#ffc884), to(#f38e10));
	text-shadow:none;
	}