@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif,'Khmer';
	}
ul li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
	margin:0;
	padding:0;
	}
#home{
	background:#eeeeee;
	color:#333;
	font:12px/1 Arial,Helvetica,Tahoma,sans-serif;
	}
.main-wrapper{
	width:960px;
	height:auto;
	margin:0 auto;
	}
.wrapper{
	background:#FFF;
	margin:0 auto;
	padding:0 10px;
	width:960px;
	height:auto;
	float:left;
	}
/* header */
.header{
	width:100%;
	height:auto;
	padding:10px 0;
	float:left;
	}
.header .header-logo{
	float:left;
	width:215px;
	}
.header .header-logo img{
	width:95px;
	}
.header .header-banner{
	float:right;
	width:735px;
	}
.header .header-banner img{
	float:right;
	}
/* menu */
/* menu */
.menu{
	width:100%;
	background:#339;
	float:left;
	background: #06f;
	}

.menu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.menu:after,
.menu > ul:after {
  clear: both;
}
.menu a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.menu ul {
  background: #06f;
  border-radius: 3px;
  border-top: 1px solid #06f; 
}
.menu ul > li {
  float: left;
  list-style: none;
  border-right: 1px solid #004de6;
}
.menu ul > li > a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  position: relative;
}
.menu ul > li > a:hover {
  background: #2d4373;
  -webkit-box-shadow: inset 0 0 1px #1e2e4f;
  -o-box-shadow: inset 0 0 1px #1e2e4f;
  -moz-box-shadow: inset 0 0 1px #1e2e4f;
  -ms-box-shadow: inset 0 0 1px #1e2e4f;
  box-shadow: inset 0 0 1px #1e2e4f;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.menu ul > li > a:hover:before {
  content: "";
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
.menu ul > li > a:hover:after {
  content: "";
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
.menu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.menu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.menu > ul > li > ul {
  width: 200px;
  position: absolute;
  z-index:9999;
}
.menu > ul > li > ul > li {
  float: none;
  position: relative;
  border-top: 1px solid #004de6;
}
.menu > ul > li > ul > li >a{
  padding:10px 20px;
}
.menu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.menu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
.menu > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
.menu > ul > li > ul > li > ul > li {
  float: none;
}

/* end menu has sub */	


/* image_slideshow */
.image_slideshow{
	width:100%;
	float:left;
	border-top:1px dashed #643d42;
	border-bottom:1px dashed #643d42;
	padding:10px 0;
	margin-top:10px;
	}
.container{
	width:100%;
	float:left;
	margin-top:10px;
	padding-bottom:10px;
	}
.container .main{
	width:650px;
	float:left;
	margin-bottom:10px;
	font-family: Arial, Helvetica, sans-serif,'Khmer';
	}
.container .user_main{
	width:725px;
	float:left;
	}
.main .jobsearch-box{
	background:#d5e2eb;
	border-radius:5px;
	/*padding:10px 20px;*/
	width:100%;
	height:auto;
	margin-bottom:10px;
	}
	
.main .search-popular{
	border-radius:5px;
	/*padding:10px 20px;*/
	width:648px;
	float:left;
	height:auto;
	margin-bottom:10px;
	border:1px solid #ddd;
	}
.search-popular ul{
	margin:0;
	padding:0;
	}
.search-popular ul li{
	list-style:none;
	float:left;
	padding:10px;
	}

.search-popular span{
	color:#3c5389;
	float:left;
	font-weight:bold;
	padding:10px;
	}
.search-popular ul li a{
	text-decoration:none;
	color:#555;
	border-right:1px solid #555;
	padding-right:10px;
	}

.search-popular ul li a:hover{
	color:#3c5389;
	}
.search-popular ul li a.top{
	color:#b73026;
	border-right:none;
	}	
.main .browe-job{
	border-radius:5px;
	/*padding:10px 20px;*/
	width:648px;
	float:left;
	height:auto;
	margin-bottom:20px;
	border:1px solid #ddd;
	}
/* ----------------- end jquery tab style ----------------- */

#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li{
  float: right;
}

#tabs a{
  position: relative;
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  font-family: Arial, Helvetica, sans-serif,'Khmer';
  font-weight:bold;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}

#tabs a:focus{
  outline: 0;
}

#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
 
}

#tabs #current a,
#tabs #current a::after{
  color:#fff;
  z-index: 3;
  background:#06F;
  font-weight:bold;
}

#content
{
    padding: 10px;
	float:left;
	height: auto;
	z-index: 2;	
    border-top:1px solid #ddd;
}
#content ul{
	margin:0;
	padding:0;
	}
#content ul li{
	list-style:none;
	margin:0;
	float:left;
	width:205px;
	margin:6px 0;
	}
#content ul li a{
	text-decoration:none;
	color:#555;
	font-family: Arial, Helvetica, sans-serif,'Khmer';
	}
#content ul li a span{
	color:#3c5389;
	}
#content ul li a:hover{
	color:#b73026;
	}
/* ------------------ end jquery tab style --------------- */

.main .job-list{
	/*padding:10px 20px;
	border-radius:5px;
	border:1px solid #ddd;
	*/
	width:648px;
	float:left;
	height:auto;
	margin-bottom:10px;
	}
.job-list tr td{
	text-align:left;
    width: 200px;
	}
/* job list */
.CSSTableGenerator{
	width:95%;
	padding:16px;
	border:1px solid #ddd;
	border-radius:5px;
	}
.CSSTableGenerator	table{ border-collapse:collapse; font-family:Verdana, Geneva, sans-serif, 'Khmer'; font-size:12px;}
.CSSTableGenerator thead th{ height:40px; line-height:40px;}
.CSSTableGenerator .bg1{background:#666; color:#FFF; border-bottom:1px solid #FFF;}
.CSSTableGenerator .bg1:hover{
		cursor:pointer;
		background:#643d42;
		}
.CSSTableGenerator td{
	padding-left:10px; 
	height:25px;
	}
/* end job list */
	

.container .side{
	width:300px;
	height:auto;
	float:right;
	}
.container .user_side{
	width:220px;
	height:auto;
	float:right;
	}
/* side */
.form-login-tab{
	width:300px;
	height:205px;
	margin-bottom:10px;
	}
.side .form-login{
	width:300px;
	height:auto;
	margin-bottom:10px;
	}
.form-login h1{
	margin:0 0 0 10px;
	padding:10px 0;
	padding-bottom:0;
	}
.form-login ul{
	padding:0;
	margin:0;
	}
.form-login ul li{
	list-style:none;
	margin:10px 0 10px 6px;
	}
.form-login ul li input{
	width:265px;
	height:28px;
	padding-left:8px;
	}
.form-login ul li a{
	float:right;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif,'Khmer';
	color:#FFF;
	}
/* end side */
/* alert new job */
.side .alert_new_job{
	border-radius:0 0 5px 5px;
	float:left;
	width:278px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #ccc;
	width:278px;
	}
/* end alert new job */

/* adverties */
.side .adverties{
	width:300px;
	height:auto;/*
	margin-bottom:10px;*/
	}

.side .adverties img{
	width:100%;
	margin-bottom:2px;
	}
/* end adverties*/
/* category */
.main-job-list-tab{
	border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
	}
.main-job-list-tab th, .main-job-list-tab td{
	border:1px solid #dbdbdb;
	}
.main-job-list-tab th.jobtitle {
    width: 246px;
}
.main-job-list-tab th {
    background: #eee;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
	padding-left:5px;
}
.main-job-list-tab td {
    line-height: 18px;
    padding: 10px 5px;
}
.main-job-list-tab a {
    color: #3c5389;
	text-decoration:none;
}
/* job title */
.main-job{
	float:left;
	padding-bottom:30px;
	position:relative;
	width:755px;
	}
.main-job{
	width:650px;
	}
.main-job-line{
	border:1px solid #dbdbdb;
	border-radius:3px;
	}
.applynow{
	line-height:22px;
	position:absolute;
	right:20px;
	top:22px;
	}
.main-job h2{
	border-bottom:2px solid #344e8c;
	font-size:18px;
	font-weight:normal;
	height:60px;
	line-height:60px;
	margin-bottom:20px;
	}
.main-job-w-title{
	margin:0 auto;
	overflow:hidden;
	white-space:nowrap;
	width:715px;
	}
.main-job-w-title{
	width:615px;
	}
.about-company{
	border-collapse:collapse;
	line-height:27px;
	margin:0 auto;
	width:92%;
	}
caption, th{
	text-align:left;
	}
.spec-tbl{
	border:1px solid #dbdbdb;
	border-collapse:separate;
	border-radius:2px;
	border-spacing:0;
	line-height:27px;
	margin:20px auto 0;
	width:95%;
	}
.spec-tbl tr:first-child td, .spec-tbl tr:first-child th{
	border:medium none;
	}
.spec-tbl th{
	background-color:#f1f1f1;
	border-top:1px solid #dbdbdb;
	font-weight:bold;
	width:120px;
	}
.spec-tbl td{
	border-top:1px solid #dbdbdb;
	padding-left:8px;
	}
.spec-tbl th p{
	margin:1px 0;
	padding-left:8px;
	}
.main-job .main-job-title-h3-2{
	background:#eee;
	height:30px;
	line-height:30px;
	margin-top:20px;
	text-indent:10px;
	}
.main-job-w{
	width:615px;
	margin:0 auto;
	}
.main-job-tab {
    border-collapse: collapse;
    margin: 0 auto;
    width: 92%;
}
.main-job-tab th{
	font-weight:bold;
	line-height:25px;
	vertical-align:top;
	width:125px;
	}
.main-job-tab td{
	line-height:20px;
	padding:5px 0;
	}
.main-job-tab th p {
    line-height: 35px;
}
.applynow-btn{
	padding:30px 0;
	text-align:center;
	}
.job-detail-control{
	float:left;
	padding-top:15px;
	}
.job-detail-control a{
	color:#333;
	text-decoration:none;
	}
.job-list-search-open, .job-list-search-close, .favourites, .view-job-employer{
	background:rgba(0, 0, 0, 0) url("../images/icon-v1.gif") no-repeat scroll 0 0;
	cursor:pointer;
	}
.favourites, .share, .view-job-employer{
	padding:5px 8px 5px 22px;
	}
.favourites{
	background-position:-75px -112px;
	font-size:16px;
	}
.favourites, .view-job-employer{
	font-size:14px;
	}
.view-job-employer{
	background-position:-73px -66px;
	font-size:16px;
	}
.share{
	float:right;
	padding-top:8px;
	}
.share{
	padding:5px 8px;
	}
.company-box{
	line-height:25px;
	margin-top:20px;
	margin-bottom:20px;
	}
.company-box h3{
	border-bottom: 1px solid #DBDBDB;
	border-radius: 3px 3px 0 0;
	padding: 7px 20px;
	background-color: #e9e9e9;
	background: linear-gradient(#fffff, #e9e9e9);
	background: -moz-linear-gradient(#ffffff, #e9e9e9);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#e9e9e9) );
	}
.company-box .profile{
	padding:10px;
	width:auto;
	}
.company-box .profile{
	margin:0 auto;
	padding-left:10px;
	padding-top:10px;
	width:715px;
	}
.fonter-info-bg{
	width:100%;
	height:auto;
	margin-bottom:10px;
	float:left;
	}
.fonter-info{
	background:#CCC;
	padding:15px;
	border-radius:3px;
	}
.clear::after{
	clear:both;
	content:"";
	display:block;
	}
.camhr-info{
	float:left;
	padding-left:10px;
	width:340px;
	}
.camhr-contact{
	line-height:2em;
	}
.camhr-contact .title{
	font-weight:bold;
	padding-right:5px;
	}
.camhr-contact .phone{
	color:#cb3b33;
	font-size:16px;
	}
.footer-social{
	width:270px;
	line-height:10px;
	}
.footer-social a{display:block;float:left;margin-right:8px;width:33px;height:33px;background:url(/images/footer-social-bg.gif);}

.footer-social a.twitter{background-position:-43px 0;}
.footer-social a.linkedin{background-position:-87px 0;}
.footer-menu{
	float:left;
	width:570px;
	}
.footer-menu dl{
	float:left;
	width:190px;
	}
.footer-menu dt, .footer-menu dd{
	line-height:25px;
	}
.footer-menu dt{
	font-weight:bold;
	}
.footer-menu a{
	color:#06F;
	text-decoration:none;
	}
.footer-menu a:hover{
	color:#900;
	text-decoration:none;
	}
.search_header{
	padding:10px 20px;
	background:#06F;
	border-bottom:1px solid #FFF;
	border-radius:5px 5px 0 0;
	}
.search_header h3{
	color:#fff;
	}
.job-search-box{
	background:#09F;
	border-radius:0 0 5px 5px;
	padding:10px 20px;
	}
.job-search-box h3{
	font-size:18px;
	line-height:35px;
	}
.job-search-box h3 span{
	float:right;
	font-size:14px;
	font-weight:normal;
	}
.job-search-box-input{
	padding:8px 0 0;
	}
.job-search-box-input li{
	display:inline;
	float:left;
	}
.job-search-box-text{
	/*height:36px;*/
	width:500px;
	}
.job-search-box table tr td label{
	color:#FFF;
	font-size:14px;
}
.ui-helper-hidden-accessible{
	border:0 none;
	clip:rect(0px, 0px, 0px, 0px);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
	}
.job-search-box-text input{
	border:medium none;
	height:35px;
	line-height:35px;
	outline:medium none;
	width:508px;
	font-size:14px !important;
	padding-left:10px;
	}
.job-search-box-input .style-select{
	width:190px;	
}

.job-search-box-input li{
	display:inline;
	float:left;
	}
.job-search-box-input li.key-title{
	line-height:21px;
	margin-right:20px
	}
.job-search-1{
	float:left;
	width:49%;
	margin-top:10px;
	margin-bottom:10px;
	}
.job-search-2{
	float:right;
	width:48%;
	margin-top:10px;
	margin-bottom:10px;
	}
.job-search-2 .key-title , .job-search-1 .key-title{
	float:left;
	margin-right:18px;
	line-height:35px;
	}
.style-select,.style-select{
	background:#fbfbfb url("../images/select_bg.jpg") no-repeat scroll right center;
	margin-left:10px;
	overflow:hidden;
	width:224px;
	}

.job-search-box-select-new{
	border:0 none;
	height:35px;
	margin-left:0px;
	vertical-align:middle;
	width:215px;
	border:1px solid #FFF;
	}
.job-search-box-input .style-select .job-search-box-select-new{
	width:210px;
	}
.style-select .job-search-box-select-new{
	background:transparent none repeat scroll 0 0;
	margin-left:0;
	overflow:hidden;
	padding:7px 0;
	text-overflow:ellipsis;
	width:250px;
	}
.job-search-box-btn{
	padding:10px 0 4px;
	}
.job-search-box-btn input{
	/*background:rgba(0, 0, 0, 0) url("../images/job-search-box-btn.jpg") repeat scroll 0 0;
	border-radius:5px;
	*/
	background:#F9A237;
	border:0 none;
	color:#fff;
	cursor:pointer;
	font-size:16px;
	height:35px;
	width:125px;
	margin-left:82px;
	}
.job-search-popular{
	line-height:32px;
	}
.job-search-popular a{
	line-height:32px;
	margin-left:0px;
	text-decoration:none;
	color:#FFF;
	}
.title_header{
	background:#fff;
	float:left;
	margin-left:11px;
	margin-top:-22px;
	padding:0 5px;
	text-align:center;
	padding-bottom:20px;
	}
.alert_new_job .title_header{
	margin-top:-16px;
	padding-bottom:5px;
	}
.title_header span{
	color:#BD4338;
	}
/* end job title */
/* form job alert */
.demof {
margin: 0px 0 10px 0;
}
.demof ul {
padding: 0;
list-style: none;
}
.demof li {
padding: 20px;
border-bottom: 1px dashed #ccc;
}
.demof li.odd {
background: #fafafa;
}
.demof li:after {
content: '';
display: block;
clear: both;
}
.demof img {
float: left;
width: 50px;
margin: 5px 15px 0 0;
}
.demof a {
font-family: Arial, sans-serif, 'Khmer';
font-size: 13px;
color: #06f;
}
.demof p {
margin: 15px 0 0;
font-size: 14px;
}
.demo3 {
font-family: Arial, sans-serif, 'Khmer';
border: 1px solid #C20;
margin: 50px 0;
font-style: italic;
position: relative;
padding: 0 0 0 80px;
box-shadow: 0 2px 5px -3px #000;
border-radius: 3px;
}
.demo3:before {
content: "Latest News";
display: inline-block;
font-style: normal;
background: #C20;
padding: 10px;
color: #FFF;
font-weight: bold;
position: absolute;
top: 0;
left: 0;
}
.demo3:after {
content: '';
display: block;
top: 0;
left: 80px;
background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
height: 20px;
}
.demo3 ul li {
list-style: none;
padding: 10px 0;
}
.demo5 {
width: 280px;
}
.demo5 ul {
padding: 0;
}
.demo5 ul li {
padding: 10px 0px;
border-bottom: 1px solid #e1e1e1;
list-type: none;
margin: 0;
width:275px;
}
.et-run {
background-color: #0cf;
color: white;
border: 1px solid black;
}
.list-group{
	float:right;
	}
/* form validation */
#validEmail
		{
			margin-top: 6px;
			margin-left: 4px;
			position: absolute;
			width: 16px;
			height: 16px;
		}
#default
		{
			margin-top: 4px;
			margin-left: 9px;
			position: absolute;
			width: 16px;
			height: 16px;
		}
/* end form validation */
/* register form */
.form-item{
	text-align:center;
	float:left;
	margin-bottom:9px;
	}

.form-item label {
    float: left;
    line-height: 34px;
    text-align: right;
    width: 200px;
}
.user-form-item>label{	
    float: left;
    line-height: 20px;
    text-align: right;
    width: 200px;
}
.user-form-item .form-filed{
	float:left;
	padding-left:10px;
    width: auto;
	}
.user-form-item .form-filed1{
	float:left;
	padding-left:10px;
	text-align: left;
    width: 490px;
	line-height: 22px;
	}
.form-item .form-button{
	width:auto;
	float:left;
	}
.form-item .form-filed{
	width:auto;
	float:left;
	padding-left:10px;
	}
.w80{
	width:80px;
}
.w100{
	width:100px;
}
.w200{
	width:200px;
}
.w201{
	width:200px;
	background:#e1e1e1;
	border-color: #aaaaaa #e1e1e1 #e1e1e1 #aaaaaa;
	border-style: solid;
	border-width:1px; 
	color:#666;
}
.w210{
	width:207px;
	}
.w250{
	width:250px;
	}
.w350{
	width:350px;
}
.w450{
	width:450px;
	height:80px;
	padding:10px;
}
.w451{
	width:450px;
	height:180px;
	padding:10px;
}
.inputstyle{
	height:27px;
	line-height:27px;
	padding-left:5px;
	}
.review-register {
    margin-bottom: 15px;
	float:left;
}
.paddingleft {
    padding-left: 210px;
}
.register{
	border:1px solid #dbdbdb;
	float:left;
	border-radius: 4px 4px 0 0;
	}
.register_header h3{
	padding:10px;
	background:#eee;
	border-bottom:1px solid #dbdbdb;
	}
.content_register{
	float:left;
	padding-top:15px;
	}

/* end register form */
/* validation */
.valid_info{
	}
.valid_warning{
	background:url(../images/validNo.png) no-repeat;
	}
.valid_success{
	background:url(../images/tick.png) no-repeat;
	}
.valid_info, .valid_warning, .valid_success{
	padding-left:20px;
	} 
/* end validation */

/* css alert message */
#add_err{
	background: none repeat scroll 0 0 #FCF8E3;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: #C09853;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, 'Khmer';
    left: -4em;
    margin: 32px 10px 12px 525px;
    padding: 8px 10px 8px 14px;
    position: fixed;
    top: 10em;
    width: 430px;
    z-index: 99999;
	display:none;
	font-size:14px;
	}
#err_success{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color:#468847;;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, 'Khmer';
    left: -4em;
    margin: 32px 10px 12px 525px;
    padding: 8px 10px 8px 14px;
    position: fixed;
    top: 10em;
    width: 430px;
    z-index: 99999;
	display:none;
	font-size:14px;
	}

.success {background-color: #DFF0D8;
    border-color: #D6E9C6;; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FBEED5; }


.alert .close1 {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
	font-weight:bolder;
}
.close1 {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
/* end css alert message */
.clear{
	}
/* job seeker */
.main_user{
	padding-bottom:25px;
	margin-bottom:60px;	
	}
.side_user{
	
	}
/* end job seekers */

/* login tabs */
#flip-tabs{
	width:300px;
	margin:10px auto; 
	position:relative;
}
#flip-navigation{
	margin:0 0 10px; padding:0; 
	list-style:none;
}
#flip-navigation li{ 
	display:inline; 
}
#flip-navigation li a{
	border-radius: 5px 5px 0px 0px;
	text-decoration:none; 
	padding:10px 36px; 
	margin-right:0px;
	background:#e0dede;
	color:#333; outline:none;
	font-family:Arial, 'Khmer'; font-size:12px; text-transform:uppercase;
	font-weight:bold;
}
#flip-navigation li a:hover{
	background:#06F; 
	color:#f0f0f0;
	border-radius: 5px 5px 0px 0px;
}
#flip-navigation li.selected a{
	background:#06F;
	color:#fff;
	font-weight:bold;
	border-radius: 5px 5px 0px 0px;
}
#flip-container{  
	width:300px;
	font-family:Arial, 'Khmer'; font-size:13px;
}
#flip-container div ul{
	background:#09F;
	border:1px solid #f0f0f0;
	border-radius:0 0 5px 5px;
	margin:0; 
	padding:15px 5px 35px 5px;
	list-style-position:inside;
}
#flip-container div ul.orange{ background:#f9d999; }
#flip-container div ul.green{ background:#d9f9d9; }
#flip-container div ul.blue{ background:#c9d9f9 }
/* end login tabs */
/* job seeker style */
.resume-edit-list{
	border:1px solid #dbdbdb;
	position:relative;
	margin-bottom:15px;
	}
.resume-edit-list h3{
	background:#eee;
	color:#395497;
	line-height: 35px;
    text-indent: 10px;
	}
.form-content {
    padding: 15px 0 0;
    position: relative;
}
.user-form-item{
	margin-bottom:9px;
	text-align:center;
	}
.mtop {
    margin-top: 15px;
}
.personal-photo {
    position: absolute;
    right: 20px;
    top: 20px;
}
.resume-add-item {
    padding: 10px;
    text-align: right;
}

.resume-add-item a {
    color: #395497;
    font-weight: bold;
}

.resume-add-item {
    padding: 10px;
    text-align: right;
}
.form-item-other{
	padding:10px;
	}
.form-item-close{
	background:url(../images/content_remove.png);
	cursor: pointer;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 16px;
	}
/* end job seeker style */
/* cv */

.main-public-title {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-bottom: 25px;
}

.main-public-title h2 {
    border-bottom: 1px solid #dbdbdb;
    font-size: 18px;
    line-height: 50px;
    text-indent: 10px;
    width: auto;
}

.normal-list-btn {
    text-align: right;
}
.normal-list p, .normal-page, .normal-list-btn {
    padding: 20px 10px;
}
.normal-tab {
    border-collapse: collapse;
    margin: 0 auto;
    width: 98%;
}
.normal-tab th {
    background-color: #eee;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
	padding-left:4px;
}
.normal-tab th, .normal-tab td {
    border: 1px solid #dbdbdb;
}
.normal-tab td {
    height: 30px;
    line-height: 18px;
}
.normal-tab th, .normal-tab td {
    border: 1px solid #dbdbdb;
	padding-left:4px;
}
/* end cv */
.footer{
	width:970px;
	height:auto;
	background:#06F;
	float:left;
	padding:10px 5px;
	color:#fff;
	}
	
.content_emp {
    height: 0px auto;
    padding:0px;
    z-index: 2;
}
.emp_container{
	width:100%;
	float:left;
	margin-top:10px;
	}
.emp_container .emp_main{
	width:710px;
	float:right;
	}
.emp_container .emp_side{
	width:250px;
	height:auto;
	float:left;
	}
.emp_header h3{
	padding:10px;
	width:630px;
	background:#db1c2e;
	border-bottom:1px solid #FFF;
	color:#FFF;
	border-radius: 4px 4px 0 0;
}
.com_pro{
	border:1px solid #dbdbdb;
	width:708px;
	height:0px auto;
	float:right;
}

/* user side style */
.user_side_nav{
	width:100%;
	border:1px solid #dbdbdb;
	}
.user_side_nav h3{
	background:#eee;
	padding:10px;
	}
.user_side_nav ul{
	list-style:none;
	
	}
.user_side_nav ul li{
	border-top:1px solid #ddd;
	padding:8px 0 8px 10px;
	}
.user_side_nav ul li a{
	color:#333;
	}

.user_side_nav ul li a.active{
	color:#395497;
	font-weight:bold;
	}
.user_side_nav ul li a strong{
	color:#c81616;
	}
/* end user side style */
.login_home{
	border-top:1px solid #FFF;
	width:274px;
	height:auto;
	float:left;
	margin-bottom:10px;
	background:#09F;
	padding:13px;
	border-radius:0px 0px 5px 5px;
	}
h3.login_home_h3{
	background: #06F;
    color: #ffffff;
	float:left;
    padding: 10px;
    padding-left: 15px;
	border-radius:5px 5px 0px 0px;
	width:275px;
	}
.login_profile{
	border:1px solid #fff;
	float:left;
	padding:5px;
	width:260px;
	margin-bottom:10px;
	}
.login_profile img{
	float:left;	
	}
.login_profile h4{
	color:#fff;
	margin-left:45px;
	padding-bottom:10px;
	}
.login_profile p{
	margin-left:45px;
	color:#333;
	}
	
/* pagination */
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination .active {
    background: #639b2d none repeat scroll 0 0;
    border-radius: 5px;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #d80647;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #d80647;
    border-color: #d80647;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.error {color: #FF0000;}
/* end pagination */
.feature_emp{
	width:648px; 
	height:0px auto; 
	border:1px solid #CCC; 
	float:left; 
	border-radius:5px; 
	padding-bottom:10px;
}
.feature_img{
	width:80px; 
	height:60px; 
	border:1px solid #CCC; 
	float:left; margin:9px; 
	margin-right:0px; 
	margin-bottom:0px;	
}
.multi_check_box{
	border: 1px solid #ddd;
    border-radius: 1px;
    height: 118px;
    overflow: auto;
	padding-left:30px;
	width: 176px;
	}
.multi_check_box li{
	text-align:left;
	}

