@charset "utf-8";
/* CSS Document */

body {
    background: #eeeeee none repeat scroll 0 0;
    color: #333;
    font: 12px/1 Arial,Helvetica,Tahoma,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
	margin:0;
	}

#preview-wrapper {
    margin: 0 auto;
    width: 760px;
}
.resume-preview-top {
    padding: 10px 0;
    position: relative;
}

.print-download {
    margin-top: 10px;
    position: absolute;
    right: 10px;
}

.resume-preview-content-top {
    background-position: 0 0;
}
.resume-preview-content-top, .resume-preview-content-bottom {
    height: 25px;
}
.resume-preview-content {
    background: #fff none repeat scroll 0 0;
    padding: 15px 25px;
}
.personal-info {
    padding: 0 0 25px 10px;
    position: relative;
}

.personal-info h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;
}
.personal-photo {
    position: absolute;
    right: 20px;
    top: 20px;
}
.resume-preview-tab {
    margin: 0 auto;
    width: 98%;
}

.resume-preview-tab th {
    line-height: 24px;
    width: 30%;
}
caption, th {
    text-align: left;
}

.resume-preview-content h3 {
    background: #eeeeee none repeat scroll 0 0;
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0 10px;
    text-indent: 10px;
}


.work-experience {
    list-style: outside none none;
    padding: 10px 0 10px 10px;
}
.bline {
    border-bottom: 1px solid #eeeeee;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}
.work-experience li {
    padding: 6px 0;
}

.work-experience li strong {
    display: block;
    float: left;
    width: 210px;
}

.work-experience li p {
    float: left;
    line-height: 20px;
    width: 475px;
}
.resume-preview-content-text {
    line-height: 20px;
    padding: 0 10px;
}
.resume-preview-close {
    padding: 20px 0;
    text-align: center;
}
.copy-right{
	width:705px; height:0px auto; border:0px solid #F00; margin-top:10px; background:#eee; padding:10px;
}
.copy-right p{
	padding:5px;
	font-family:Verdana, Geneva, sans-serif;
}

